.dailyNotesColumn {
  width: 100%;
<<<<<<< HEAD
  height: 100%;
  display: flex;
  flex-direction: column;
=======
>>>>>>> 3787a447ef849daa245dc1bef2fa11cd5498a64a
}

.columnTitle {
  border-bottom: 2px solid #1a1a1a;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.notesList {
  list-style: none;
  padding: 0;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
=======
>>>>>>> 3787a447ef849daa245dc1bef2fa11cd5498a64a
}

.noteItem {
  display: flex;
  align-items: flex-start;
  padding: 12px 0;
  border-bottom: 1px solid #dcdbd3;
}

<<<<<<< HEAD
.noteItem:last-child {
  border-bottom: none;
}

=======
>>>>>>> 3787a447ef849daa245dc1bef2fa11cd5498a64a
.noteArrow {
  margin-left: 10px;
  color: #4a4a4a;
  font-size: 18px;
}

.noteContent {
  display: flex;
  flex-direction: column;
}

.noteLink {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: bold;
<<<<<<< HEAD
=======
  position: relative; /* آوردن لینک به لایه رویی */
  z-index: 10;        /* فعال کردن کلیک‌پذیری */
  cursor: pointer;
}

.noteLink:hover {
  color: #8b7d6b;
>>>>>>> 3787a447ef849daa245dc1bef2fa11cd5498a64a
}

.noteDate {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}